In [3]:
import pandas as pd

In [9]:
df = pd.DataFrame({
    'Car': ['BMW', 'Tayota', 'Kia', 'Lada', 'Infinity'],
    'Price': [10000000, 2300000, 1800000, 700000, 7000000],
    'Color': ['blue', 'white', 'black', 'black', 'white'],
})
df

        Car     Price  Color
0       BMW  10000000   blue
1    Tayota   2300000  white
2       Kia   1800000  black
3      Lada    700000  black
4  Infinity   7000000  white

In [58]:
transactions = pd.read_csv('transactions.csv')

In [26]:
transactions.head()

   Year  Month    ID Product  Amount  Price  Total  Cost
0  2017      1  t001      A1       7   2904  20328  1200
1  2017      1  t002      A2       2   1896   3792  1100
2  2017      2  t003      A1       5   2904  14520  1200
3  2017      2  t004      A4       1   8618   8618  4200
4  2017      2  t005      A5       3   5175  15525   500
5  2017      2  t006      _6       4   3500  14000   200
6  2017      3  t007      _3       6   1265   7590   200
7  2017      3  t008      _5       2   5175  10350  1200
8  2017      4  t009      _8       3   3760  11280  1000
9  2017      4  t010      _4       2   8618  17236  3400

In [36]:
transactions.loc[:,['ID', 'Price']].head()

     ID  Price
0  t001   2904
1  t002   1896
2  t003   2904
3  t004   8618
4  t005   5175

In [44]:
transactions.loc[[0,1,50]]

    Year  Month    ID Product  Amount  Price  Total  Cost
0   2017      1  t001      A1       7   2904  20328  1200
1   2017      1  t002      A2       2   1896   3792  1100
50  2017     11  t051      A4       3   8618  25854   800

In [43]:
transactions.loc[1, 'Price']

1896

In [45]:
transactions.loc[0:10, 'ID']

0     t001
1     t002
2     t003
3     t004
4     t005
5     t006
6     t007
7     t008
8     t009
9     t010
10    t011
Name: ID, dtype: object

In [64]:
transactions['Amount'] > 3

0      True
1     False
2      True
3     False
4     False
5      True
6      True
7     False
8     False
9     False
10     True
11     True
12    False
13    False
14    False
15    False
16    False
17     True
18     True
19     True
20     True
21     True
22     True
23    False
24    False
25    False
26    False
27    False
28     True
29    False
30     True
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39     True
40     True
41    False
42    False
43     True
44    False
45     True
46     True
47    False
48    False
49     True
50    False
51     True
52     True
53     True
54    False
55    False
56     True
57    False
58    False
59     True
Name: Amount, dtype: bool

In [50]:
transactions.loc[transactions['Amount'] > 3].head()

    Year  Month    ID Product  Amount  Price  Total  Cost
0   2017      1  t001      A1       7   2904  20328  1200
2   2017      2  t003      A1       5   2904  14520  1200
5   2017      2  t006      _6       4   3500  14000   200
6   2017      3  t007      _3       6   1265   7590   200
10  2017      4  t011      _2       4   1896   7584   800

In [75]:
transactions['Product'].value_counts()
transactions.loc[transactions['Product'] == '_5'].head()
transactions.loc[:,['Cost']].max()

Cost    4200
dtype: int64

In [77]:
pip install requests

Collecting requests
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     -------------------------------------- 62.8/62.8 kB 241.3 kB/s eta 0:00:00
Collecting certifi>=2017.4.17
  Downloading certifi-2022.9.24-py3-none-any.whl (161 kB)
     ------------------------------------ 161.1/161.1 kB 535.0 kB/s eta 0:00:00
Collecting urllib3<1.27,>=1.21.1
  Downloading urllib3-1.26.12-py2.py3-none-any.whl (140 kB)
     -------------------------------------- 140.4/140.4 kB 2.8 MB/s eta 0:00:00
Collecting charset-normalizer<3,>=2
  Downloading charset_normalizer-2.1.1-py3-none-any.whl (39 kB)
Collecting idna<4,>=2.5
  Downloading idna-3.4-py3-none-any.whl (61 kB)
     ---------------------------------------- 61.5/61.5 kB 3.4 MB/s eta 0:00:00
Installing collected packages: urllib3, idna, charset-normalizer, certifi, requests
Successfully installed certifi-2022.9.24 charset-normalizer-2.1.1 idna-3.4 requests-2.28.1 urllib3-1.26.12

[notice] A new release of pip available: 22.1.2 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [78]:
pip install numpy

Requirement already satisfied: numpy in c:\users\374\appdata\local\programs\python\python310\lib\site-packages (1.23.0)

[notice] A new release of pip available: 22.1.2 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [100]:
import requests
import numpy as np
import pandas as pd
import time

In [113]:
page_link = 'https://vk.com/habr'

In [114]:
response = requests.get(page_link)
response

In [109]:
for key, value in response.request.headers.items():
    print(key + ": " + value)

User-Agent: Mozilla/5.0 (Windows NT 6.0; WOW64) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.66 Safari/535.11
Accept-Encoding: gzip, deflate
Accept: */*
Connection: keep-alive

In [104]:
#pip install fake-useragent

Requirement already satisfied: fake-useragent in c:\users\374\appdata\local\programs\python\python310\lib\site-packages (1.0.1)

[notice] A new release of pip available: 22.1.2 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [105]:
from fake_useragent import UserAgent

In [106]:
UserAgent().chrome

'Mozilla/5.0 (Windows; U; Windows NT 5.2; en-US) AppleWebKit/525.19 (KHTML, like Gecko) Chrome/1.0.154.59 Safari/525.19'

In [110]:
response = requests.get(page_link, headers={'User-Agent': UserAgent().google})
response

In [115]:
html = response.content
html[:1000]

b'            <!DOCTYPE html>\n      <html lang="ru" class="vk vk_js_no vk_1x vk_flex_no r d h  vk_appAuth_no n vk_old  vk_schemes_no   ">\n      <head>\n              <meta charset="utf-8">\n        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui, user-scalable=no" />\n        <meta name="format-detection" content="telephone=no" />\n        <meta http-equiv="X-UA-Compatible" content="IE=edge" />\n        <meta name="MobileOptimized" content="176" />\n        <meta name="HandheldFriendly" content="True" />\n        <base id="base">\n        \n        <meta name="description" content="\xd0\x92\xd0\xbc\xd0\xb5\xd1\x81\xd1\x82\xd0\xb5 \xd1\x81 \xd0\xb2\xd0\xb0\xd0\xbc\xd0\xb8 \xd1\x81\xd1\x82\xd1\x80\xd0\xbe\xd0\xb8\xd0\xbc IT-\xd1\x81\xd0\xbe\xd0\xbe\xd0\xb1\xd1\x89\xd0\xb5\xd1\x81\xd1\x82\xd0\xb2\xd0\xbe \xd1\x81 2006 \xd0\xb3\xd0\xbe\xd0\xb4\xd0\xb0." />\n        <meta property="og:description" content="\xd0\x92\xd0\xbc\xd0\xb5\xd1\x81\xd1\x82\xd0\xb5 \xd1\x81 \xd0\xb2\xd0\xb0\xd0\xbc\xd0\xb8 \xd1\x81\xd1\x82\xd1\x80\xd0\xbe\xd0\xb8\xd0\xbc IT-\xd1\x81\xd0\xbe\xd0\xbe\xd0\xb1\xd1\x89\xd0\xb5\xd1\x81\xd1\x82\xd0\xb2\xd0\xbe \xd1\x81 2006 \xd0\xb3\xd0\xbe\xd0\xb4\xd0\xb0." />\n        <link rel="shortcut icon" href="/images/icons/favicons/fav_logo.ico?8"></link>\n            <link rel="icon" type="image/png" s'

In [117]:
pip install beautifulSoup4

Requirement already satisfied: beautifulSoup4 in c:\users\374\appdata\local\programs\python\python310\lib\site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\374\appdata\local\programs\python\python310\lib\site-packages (from beautifulSoup4) (2.3.2.post1)

[notice] A new release of pip available: 22.1.2 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [118]:
from bs4 import BeautifulSoup

In [119]:
soup = BeautifulSoup(html, 'html.parser')

In [120]:
type(soup)

bs4.BeautifulSoup

In [124]:
soup.html.title.text

'Хабр | ВКонтакте'